<div class="card-inner">
  <figure>
    <img src="http://media.ed.edmunds-media.com/nissan/frontier/2014/oem/2014_nissan_frontier_extended-cab-pickup_pro-4x_fq_oem_1_276.jpg" class="img-responsive" alt="">
  </figure>
  <div class="card-info">
    <h3>2015 Nissan Frontier King Cab</h3>

    <div class="card-detail">
      <p class="msrp">$17,990</p>

      <p class="mpg">19/23</p>
    </div>
  </div>

</div>
<label class=""><input class="" type="checkbox"><i class="fa fa-plus"></i><i class="fa fa-check"></i><span class="">Add to compare</span></label>
