<div class="page-intro">

  <div class="container ">
    <div class="row">
      <div class="col-md-12">
        <h1>Compare</h1>

        <p>See how cars are similar and how they're different. Choose up to four and start comparing.</p>
        <a href="" class="btn btn-default">Start a New Compare</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="compare-basket">
      <div class="col-md-3"><img src="http://placehold.it/50x50" alt="Product">
        <button>
          Remove
        </button>
      </div>
      <div class="col-md-3"><img src="http://placehold.it/50x50" alt="Product">
        <button>
          Remove
        </button>
      </div>
      <div class="col-md-3"><img src="http://placehold.it/50x50" alt="Product">
        <button>
          Remove
        </button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-default">
          Compare
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="search-panel">

      <form>
        <div class="form-group">
          <label for="">Search</label>
          <input type="email" class="form-control" id="" placeholder="e.g. 2015 Audi A5">
        </div>

        <div class="form-group">
          <label for="">Type:</label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> All
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox2" value="option2"> Car
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox3" value="option3"> Minivan
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> Suv
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox2" value="option2"> Truck
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox3" value="option3"> Van
          </label>
        </div>
        <div class="form-group">
          <label for="">Condition:</label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> New
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox2" value="option2"> Used
          </label>
        </div>
        <div class="form-group">
          <label for="">Model:</label>
          <select class="form-control">
            <option>&nbsp;</option>
            <option>Honda</option>
            <option>Toyota</option>
            <option>Audi</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

  </div>
  <div class="row">
    <span ng-repeat="make in makes">{{make.name}}</span>
    <div class="compare-block">
      <div class="card" ng-repeat="model in models">
        <div class="card-inner">
          <figure>
            <img src="http://media.ed.edmunds-media.com/nissan/frontier/2014/oem/2014_nissan_frontier_extended-cab-pickup_pro-4x_fq_oem_1_276.jpg" class="img-responsive" alt="">
          </figure>
          <div class="card-info">
            <h3>2015 Nissan Frontier King Cab</h3>
 {{ model.name }}
 {{ model.id }}
            <div class="card-detail">
              <p class="msrp">$17,990</p>

              <p class="mpg">19/23</p>
            </div>
          </div>
        </div>
        <label class=""><input class="" type="checkbox"><i class="fa fa-plus"></i><i class="fa fa-check"></i><span class="">Add to compare</span></label>


      </div>


    </div>
  </div>

</div>
