<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Compare</h1>

			<p>See how cars are similar and how they're different. Choose up to four and start comparing.</p>
			<a href="" class="btn btn-default">Start a New Compare</a>
		</div>
	</div>
	<div class="row">
		<div class="compare-block">
			<div ng-include="'views/partials/comparison-card.html'"></div>
			<div ng-include="'views/partials/comparison-card.html'"></div>
			<div ng-include="'views/partials/comparison-card.html'"></div>

			<a href="#" class="btn btn-primary btn-lg" role="button">Compare</a>
			<a href="#" class="btn btn-default btn-lg" role="button">Add another car</a>
		</div>
	</div>

</div>